* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


#container {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


.contact {
    margin: 20px;
}

body {
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    background-color: whitesmoke;
}

.clear {
    clear: both;
}

#pic {
    float: left;
    margin: 65px 30px 30px 42px;
    height: 300px;
    max-width: 100%;
}
h1 {
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #999;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
}

h2 span {
    position: absolute;
    bottom: 0; right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

p {
    margin: 20px 0 16px 0;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: blue;
}

ul {
    margin: 0 0 32px 17px;
}

#about {
    width: 72%;
    float: left;
    margin: 5%;
}

#about p {
    /*font-family: Georgia, Serif;*/
    font: 20px roboto;

    font-style: italic;
    color: #666;
}

dl {
    margin: 10px;
}

dt {
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 20px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid #999;
}

dd {
    width: 600px;
    margin: 4px;
    float: left;

}

dd.clear {
    float: none;
    margin: 0;
    height: 15px;
}

.experience {
    width: 61%;
}



